---
id: 269
title: Underage User Verification
date: 2010-08-23T22:59:14+01:00
author: Mischa
layout: post
guid: http://mmt.me.uk/blog/?p=269
permalink: /?p=269
categories:
  - Uncategorized
---
In this article they talk about techniques used when people try to sign-up and they state that they are < 13 years of age : Flickr being an example of the good guys : http://www.guardian.co.uk/technology/2010/jul/23/foursquare ~